<h1>A propos du groupe</h1><br>
<p>équipe Atlantide dans la place </p>
<ul>
<li>Quentin Berson</li>
<li>Alexandra Dlg</li>
<li>Abdel Ait Bali</li>
<li>Selma Kabous</li>
</ul>

<%= link_to "retour accueil", home_path%><br>
